
 body{
   display: flex;
   background: #23252C;
   justify-content: center;
   margin-top: 60px;
   margin-bottom: 60px;
   font-family: Inter , sans-serif;
   
} 

.mainPage{

  display: flex;
  width: 37rem;
  height: 77rem;
  background: #1A1B21;
  border-radius: 20px;
}

.photos{

width: 37rem;
height: 35rem;
border-radius: 20px 20px 0px 0px;

}


.info{

  height: 5rem;
  width: 37rem;
  text-align: center;
  margin-top :590px;
  position: absolute;
  
}

.info > h3 {
  color: white;
  font-weight: bold;
  font-size: 35px;
  line-height: 30.26px;
  margin: 0px;
  padding-bottom: 8px;
}

.info > h4{

margin: 0px;
color: #F3BF99;
font-weight: 400;
font-size: 16px;
padding-bottom: 1px;

}

.info > p {
  color: white;
  font-weight: 400;
  font-size: 12px;
  line-height: 30.26px;
  margin: 0px;
}

.butons{
  display: flex;
  height: 5rem;
  width: 37rem;
  margin-top :690px;
  position: absolute;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 

}

#b1{

  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  width: 180px;
  letter-spacing: 0.4px;
  font-size: 500;
}

#b2{

  box-sizing: border-box;
  background: #5093E2;
  color: #FFFFFF;
  border: 1px solid #5093E2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  width: 180px;
  letter-spacing: 0.4px;
  font-size: 500;
  
}

.fa{

  padding-right: 6px;
}

.fab{

  padding-right: 6px;
}

.about{
  /* display: flex; */
  height: 20rem;
  width: 37rem;  
  color: #FFFFFF;
  margin-top :790px;
  position: absolute;
}

.about > h2 {

  font-weight : 700;
  font-size: 35px;
  margin: 0px 60px 0px 60px;
  padding-bottom: 5px;
}
.about > p {
  margin: 0px 60px 0px 60px;
  font-size: 18px;
  color: #DCDCDC;

}

.about p:first-of-type{
 padding-bottom: 25px;
}


.foot{
  display: flex;
  height: 5rem;
  width: 37rem;
  margin-top :1150px;
  background: #161619;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  border-radius: 0px 0px 20px 20px;
}

 footer > .fab {

  color: #918E9B;
  padding: 0px 20px 0px 20px;
} 